<form class="books-form" [formGroup]="newBooksForm">
  <div formArrayName="books">
    <div class="books-form-item" *ngFor="let book of formBooks.controls; let i =index" [formGroupName]="i">

      <mat-form-field fxFlex="100">
        <input matInput placeholder="book title" formControlName="title" required>
        <mat-error>book title is required!</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <input matInput placeholder="Author" formControlName="author" required>
        <mat-error>Author is required</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <textarea matInput placeholder="Description" formControlName="description" rows="3" required></textarea>
        <mat-error>Max length 200 symbols!</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <input matInput placeholder="ISBN" formControlName="isbn" required>
        <mat-error>ISBN it is a number</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <input matInput placeholder="Year" formControlName="year" required>
        <mat-error>Year it is a number</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <input matInput placeholder="Rating" formControlName="rating">
        <mat-error *ngIf="book.get('rating').hasError('max')">Max value 5!</mat-error>
        <mat-error *ngIf="book.get('rating').hasError('pattern')">Rating it is a number</mat-error>
      </mat-form-field>

    </div>
  </div>

</form>

<div class="btns-box">
  <button (click)="addBook()" mat-raised-button class="btns-box__btn mat-button" aria-label="edit">
    Add book
  </button>
</div>