.wrapper {
  padding: 25px;

  .navigation {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    
    a {
      margin-right: 25px;
      color: black;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
    }
    a:hover{
      cursor: pointer;
    }
    a:last-of-type{
      margin-right: 0;
    }
  }
}